@model Auth.Models.LoginModel

<div class="text-center">
    <h1 class="display-4">Account Login</h1>


</div>

@* <form controller="Account" action="LoginPost" method="post">
	<div validation-summary="All"></div>

	<input hidden asp-for="ReturnUrl" />
	<div>
		<label>Login @Model.Login</label>
		<input asp-for="Login" />
		<span validation-for="Login"></span>
	</div>
	<div>
		<label>Password</label>
		<input asp-for="Password" />
		<span validation-for="Password"></span>
	</div>

	<p>
		<button type="submit">Log In</button>
	</p>
</form> *@

@using(Html.BeginRouteForm("auth", new { controller="Account", action="Login"} , FormMethod.Post))
{
	@Html.TextBoxFor(model => model.Login)
	@Html.PasswordFor(model => model.Password)
	@Html.HiddenFor(model => model.ReturnUrl)
	<button type="submit">Log In</button>
}